 @font-face {
  font-family: "Novera";
  src: url("fonts/Novera-ClassicRegular.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;

  @font-face {
  font-family: "Novera";
  src: url("fonts/Novera-ClassicBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;

@font-face {
  font-family: "Auriol";
  src: url("fonts/AuriolLTStd-Bold) format("woff2");
  font-weight: 700;
  font-style: normal;
  
  :root{
  --bg: #c1dbe8;
  --text: #5b1427;
  --muted: #6f6f6f;
  --line: rgba(0,0,0,.15);
}

  body{
  font-family: "Novera", sans-serif;
  color: #5b1427;
}

.name{
  font-family: "Auriol", serif;
}

 

  font-family: "Auriol", serif;
  font-family: "Noera", sans serif;
}
}

/* layout */

.layout{
  display: grid;
  grid-template-columns: 320px 1fr;
  min-height: 100vh;
}

/* sidebar */

.sidebar{
  padding:40px 30px;
}

.portrait{
  width:100%;
  max-width:240px;
  display:block;
  margin-bottom:30px;
}

.name{
  font-size:36px;
  font-weight:400;
  margin:0 0 20px;
}

.menu{
  display:flex;
  flex-direction:column;
  gap:6px;
}

.menu a{
  color: var(--text);
  text-decoration:none;
}

.menu a:hover{
  text-decoration:underline;
}

/* content */

.content{
  padding:60px 60px 80px;
  max-width:900px;
}

.bio p{
  margin-bottom:20px;
}

hr{
  border:none;
  border-top:1px solid var(--line);
  margin:40px 0;
}

.highlights h2{
  font-weight:400;
  font-size:22px;
  margin-bottom:20px;
}

.highlights ul{
  padding-left:20px;
}

.highlights li{
  margin-bottom:14px;
}

.link{
  background:#ddd;
  padding:2px 6px;
  border-radius:4px;
}

/* responsive */

@media (max-width: 900px){
  .layout{
    grid-template-columns: 1fr;
  }

  .content{
    padding:40px 30px;
  }
}
