
/* LOGO */
.logo { width: 300px; border: 5px solid red; }
/* TÍTULO */
h1 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}
/* RODAPÉ */
footer {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
  color: #777;
}
